# Downloading Data from the FRED API

In [1]:
import os
import sys
import json
import config
import requests
import numpy as np
import pandas as pd

In [2]:
os.chdir('..')
sys.path.append(os.getcwd() + '/src/')

## Downloading the CPI

Series ID: CPIAUCSL

In [4]:
API_KEY = config.API_KEY
URL = config.URL
SERIES_URL = URL.format(series_id='CPIAUCSL', api_key=API_KEY)

In [5]:
r = requests.get(SERIES_URL)
cpi_df = pd.DataFrame(r.json()['observations'])
cpi_df = cpi_df[['date', 'value']]
cpi_df.rename(columns={'value': 'CPI'}, inplace=True)
cpi_df.head()

         date    CPI
0  1947-01-01  21.48
1  1947-02-01  21.62
2  1947-03-01   22.0
3  1947-04-01   22.0
4  1947-05-01  21.95

## Write to File

In [6]:
cpi_df.to_csv(os.getcwd() + '/data/CPI.csv', index=False)